@page
@model admin.Pages.CitiesModel
@{
	ViewData["Title"] = "Cities";
}

<div class="text-center">
	<h1 class="display-4">Cities</h1>
</div>

<table class="table">
	<caption>@Model.ValidLocations.Count() items</caption>
	<thead>
		<tr>
			<th>City</th>
			<th>Zip Code</th>
			<th>Country</th>
			<td></td>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.ValidLocations)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.city)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.zipCode)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.country)
				</td>
				<td>
					<a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
				</td>
			</tr>
		}
	</tbody>
</table>
