@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-4">Sign-ups</h1>
</div>

@if (!string.IsNullOrWhiteSpace(Model.Message))
{
	<div class="alert alert-success" role="alert">
	@Model.Message
	</div>
}

<table class="table">
	<caption>@Model.NewSignUps.Count() items</caption>
	<thead>
		<tr>
			<td></td>
			<th>City</th>
			<th>Country</th>
			<th>Last Modified</th>
			<td></td>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.NewSignUps)
		{
			<tr class="table-info">
				<td>
					<input type="checkbox" name="location" checked aria-label="Mark as active" />
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.city)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.country)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Timestamp)
				</td>
				<td>
					<a asp-page="./Validate" asp-route-id="@item.Id">Validate</a>
				</td>
			</tr>
		}
	</tbody>
</table>

@if (Model.NewSignUps.Count() < 1) 
{
	<div class="alert alert-secondary" role="alert">
		All sign-ups completed. <a class="link-body-emphasis" asp-area="" asp-page="/Batch">Re-configure batches</a> if necessary.
	</div>
}

<script>
	addEventListener('load', function () {
		for (var checkbox of document.querySelectorAll('input[type=checkbox]')) {
			checkbox.addEventListener('click', onLocationChecked);
		}
	});

	function onLocationChecked(event) {
		var checkbox = event.target;
		checkbox.closest('tr')?.classList.toggle('table-info');
	}
</script>